<%- include('partials/header') %>

<div class="main">
  <h1>Save Your Moments</h1>
  <div>
    <a href="/auth/google" role="button">Sign In with Google</a>
    <p class="normaltext">
      <span>New here?</span
      ><span style="margin-left: 7px"
        ><a href="/auth/google">Create an account</a></span
      >
    </p>
  </div>
  <p id="footer">Developed by Naidu Gr</p>
  <%- include('partials/footer') %>
</div>
