<%- include('partials/header') %>
<div class="main">
  <h1>Welcome</h1>
  <h1><%=name%></h1>

  <a href="/submit" style="margin-left: 15px">Submit your moment</a>
  <br />
  <div class="publicprivateinmomentpage">
    <a href="/publicmoments">Public Moments</a>
    <a href="/privatemoments">Private Moments</a>
  </div>
</div>

<%- include('partials/footer') %>
